<h1>Rooms</h1>

<p *ngIf="!(rooms$ | async)"><em>Loading rooms...</em></p>
<form [formGroup]="resultsForm">
  <div class="form-row">
    <div class="text-left form-group col-md-4">
      <div class="bs-select">
          Show
          <select formControlName="rooms" (change)="setNumberOfResults($event)">
            <option *ngFor="let room of roomsPerPageResults">{{ room }}</option>
          </select>
          rooms
      </div>
    </div>
    <div class="form-group text-center col-md-4">
      <label for="nOfBeds">Number of beds:</label>
      <input placeholder="Search by bed number" formControlName="nOfBeds" (change)="setNumberOfBeds($event)" type=number>
    </div>
    <div class="form-group text-right col-md-4">
      <label for="city">City:</label>
      <input placeholder="Search by city" formControlName="city" (change)="setCity($event)">
    </div>
  </div>
</form>

<table class="table table-responsive-md table-hover text-center"
  *ngIf="(rooms$ | async)?.length>0">
  <thead>
    <tr>
      <th (click)="setOrderBy('name')">Name
        <fa-icon [ngClass]="{'text-primary': orderBy == 'name'}" [icon]="faCaretUp"></fa-icon>
        <fa-icon [ngClass]="{'text-primary': orderBy == 'name desc'}" [icon]="faCaretDown"></fa-icon>
      </th>
      <th (click)="setOrderBy('numberOfBeds')">Number of beds
        <fa-icon [ngClass]="{'text-primary': orderBy == 'numberOfBeds'}" [icon]="faCaretUp"></fa-icon>
        <fa-icon [ngClass]="{'text-primary': orderBy == 'numberOfBeds desc'}" [icon]="faCaretDown"></fa-icon>
      </th>
      <th (click)="setOrderBy('price')">Price
        <fa-icon [ngClass]="{'text-primary': orderBy == 'price'}" [icon]="faCaretUp"></fa-icon>
        <fa-icon [ngClass]="{'text-primary': orderBy == 'price desc'}" [icon]="faCaretDown"></fa-icon>
      </th>
      <th>Hotel</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of (rooms$ | async)">
      <td><a [routerLink]="['rooms', room.id]">{{ room.name }} </a></td>
      <td>{{ room.numberOfBeds }}</td>
      <td>{{ room.price }}</td>
      <td><a [routerLink]="['hotels', room.hotelId]">{{ room.hotelId }}</a></td>
    </tr>
  </tbody>
</table>
<div class="container">
      <ul class="pagination justify-content-center">
        <li *ngFor="let page of pageField;let i=index" class="page-item">
          <a (click)="showRoomsByPageNumber(page,i)" [ngClass]="pageNumber[i] ? 'page-link-active':'page-link'"
            style=" margin-right: 5px; margin-top: 5px;">{{page}}</a>

        </li>
      </ul>
      <div class="text-center">
        Page {{ pageNo }} of {{ paginationService.exactPageList }} Pages
      </div><br />
</div>
