.accepted {
  font-weight: bold;
  color: rgb(20, 153, 20);
}

.cancelled {
  font-weight: bold;
  color: rgb(87, 87, 87);
}

.pending {
  font-weight: bold;
  color: rgb(226, 190, 29);
}

.denied {
  font-weight: bold;
  color: rgb(153, 20, 20);
}

.page-link-active {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.page-link {
  cursor: pointer;
}

select {
  cursor: pointer;
}
